.card-list {
  white-space: nowrap;
  position: relative;
  .card {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card-list-3,
.card-list-2 {
  height: var(--height);
  margin: 20px 0;
  .card-content {
    box-shadow: 5px 1px 15px rgba(0,0,0,.1);
  }
}

.card-list-0,
.card-list-1 {
  width: var(--width);
  margin: 0 20px;
  .card-content {
    box-shadow: 1px 5px 15px rgba(0,0,0,.3);
  }
}

.card-list-3 {
  .card-center {
    transform: rotate(180deg);
  }
}

.card-list-0 {
  .card-center {
    transform: rotate(90deg);
  }
}

.card-list-1 {
  .card-center {
    transform: rotate(-90deg);
  }
}
