.card-list {
  white-space: nowrap;
  
  position: relative;
  .card {
    position: absolute;
    top: 0;
  }
}

.card-list-top,
.card-list-bottom {
  height: var(--height);
  margin: 20px 0;
  .card-content {
    box-shadow: 5px 1px 15px rgba(0,0,0,.3);
  }
}

.card-list-left,
.card-list-right {
  width: var(--width);
  margin: 0 20px;
  .card-content {
    box-shadow: 1px 5px 15px rgba(0,0,0,.3);
  }
}

.card-list-top {
  .card-center {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.card-list-left {
  .card-center {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.card-list-bottom {
  .card-center {
    transform: translate(-50%, -50%);
  }
}

.card-list-right {
  .card-center {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.card {
  width: var(--width);
  height: var(--height);
  .card-content {
    width: var(--width);
    height: var(--height);
    pointer-events: none;
    user-select: none;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    font-weight: bolder;
    position: relative;
    .card-mask {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }
  }
  .card-left-top {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
  }
  .card-center {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    &.font-small {
      font-size: 24px;
    }
  }
}

.card {
  &.color-0 .card-content {
    background: red,
  }
  &.color-1 .card-content {
    background: green,
  }
  &.color-2 .card-content {
    background: yellow,
  }
  &.color-3 .card-content {
    background: blue,
  }
  &.type-2 .card-content {
    background: gray;
  }
  &.card-value-13 .card-content ,
  &.card-value-14 .card-content {
    background-color: black;
    .card-center {
      display: block;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background: orange;
      line-height: 65px;
      text-align: center;
    }
  }
}