.game-pad {
  padding: 20px;
  .action-controls {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    user-select: none;
    .action {
      margin: 0 15px;
      padding: 8px 20px;
    }
  }
}