.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 100;
  .modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    min-width: 480px;
    border-radius: 18px;
  }
  .modal-header {
    border-bottom: 2px solid gray;
    padding: 12px 8px;
  }
  .modal-content {
    padding: 12px 8px;
  }
  .modal-footer {
    padding: 12px 8px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    .button {
      margin-left: 12px;
    }
  }
}